.container {
    width: 100%;
    max-width: 1000px;
    margin: 5vh auto;
    padding: 32px;
    background-color: #ffffff;
    border-radius: 16px;
    /*Drop shadow*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
