@import "tailwindcss";

/* biome-ignore lint/suspicious/noUnknownAtRules: tailwind */
@theme {
	--font-sans:
		"Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
