.card {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	padding: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #ddd;
}

.card-primary {
	background-color: #eee;
	border-color: #ddd;
}

.card-danger {
	background-color: #fdd;
	border-color: #facaca;
}
